allow audioserver system_file:file execmod;
allow audioserver rild:unix_stream_socket connectto;
allow audioserver vendor_default_prop:file { getattr open read };
